.search-input{
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.aiseesoft.fr%2Fsupport%2Fcest-quoi-itunes.html&psig=AOvVaw1RIKB-gL7arY6rJ7-kSUXe&ust=1649966352527000&source=images&cd=vfe&ved=0CAwQjRxqFwoTCNDph-fpkfcCFQAAAAAdAAAAABAK);
  background-color: #48dbfb;
  background-image: linear-gradient(315deg, #48dbfb 0%, #d3d3d3 74%);
  
}
.svg-icon {
  position: absolute;
  width: 25px;
  height: 25px;
  margin: 0 -24%;
  fill: var(--text-color);
}
input{
  width: 50%;
  padding: 1% 2%;
  border: none;
  border-radius: calc(0.5 * var(--ntp-realbox-height));
}
input:focus {
  outline: none;
}
.songsList{
  height: 100vh;
  background-color: #EDF6E5;
}
.songsList svg{
  width: 40px;
  height: 40px;
  margin:  5px;
  position:relative;
  right:0;
}
.songs-container{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 5%
  
}
.songCard{
  height: 80%;
}
.btnAdd {
  background: #78DEC7;
  border: 0;
  font-weight: bold;
  margin: 2%;
}
.btnRed{
  background: #FA1E0E;
  border: #FA1E0E;
}
.btnRed:hover{
  background: #FA1E0E;
  border: #FA1E0E;
}
.btnAdd:hover {
  background: #D62AD0;
}

/* Mobile style */
@media screen and (max-width: 600px) {
  .svg-icon {
    margin: 0 -24%;
  }
}